<configuration>

    <property name="pattern" value="%date{HH:mm:ss} %-5level %logger{0}.%method - %msg%n" />


    <logger name="crawlercommons" level="WARN" />

    <logger name="slick" level="WARN" />

    <logger name="com.zaxxer.hikari" level="WARN" />

    <logger name="com.github.mauricio" level="WARN" />

    <logger name="io.netty" level="WARN" />

    <logger name="scalikejdbc" level="WARN" />


    <logger name="com.github.lucastorri.moca.browser.webkit" level="INFO" />

    <logger name="com.github.lucastorri.moca.role.worker" level="DEBUG" />


    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <root level="all">
        <appender-ref ref="console" />
    </root>

</configuration>