<configuration>

    <property name="pattern" value="%date{HH:mm:ss} %-5level %logger{0}.%method - %msg%n" />

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <root level="all">
        <appender-ref ref="console" />
    </root>

</configuration>